aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
autocommand==2.2.2
discord.py==2.5.2
frozenlist==1.7.0
idna==3.10
irc==20.5.0
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.2.1
jaraco.logging==3.4.0
jaraco.stream==3.0.4
jaraco.text==4.0.0
more-itertools==10.7.0
multidict==6.6.3
propcache==0.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
tempora==5.8.1
typing_extensions==4.14.1
yarl==1.20.1
